@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  color: #f2f2f2;
  background-color: #000000;
}

#loader{
    background-color: #000000;
    color: white;
    font-family: "inter";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 100px;
}
#loader h1{
    font-size: 8.4em;
    text-transform: uppercase;
}

#loader h2, #loader h3{
  font-size: 6em;
  font-family: 'instrumental sans';
  font-weight: 400;
  font-style: italic;
}
#loader h2{
  width: 11.1vw;
  display: flex;
  justify-content: center;
}

.line2{
  display: flex;
  gap: 18px;
  align-items: center;
}
/* Loader part Done */

/* Header part */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
  height: 15vh;
}

.logo img{
  width: 180px;
  height: 180px;
}

nav ul{
  display: flex;
  gap: 60px;
  list-style: none;
}

nav ul li a{
  color: #f2f2f2;
}



